.table_container {
  width: 80%;
  border: 3px solid darkslategrey;
  margin: 1rem auto;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  padding: 10px;
  text-align: center;
  background-color: rgba(253, 185, 208, 0.5);
  color: darkslategrey;
  font-size: 22px;
}

.table th:last-child {
  width: 200px;
}
