.cardElement_container {
  font-size: 23px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 1rem auto;
  border: 2px solid darkslategrey;
  border-radius: 15px;
  width: 15rem;
  height: 18rem;
  background-color: rgba(253, 185, 208, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardElement_container:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.cardElement_container button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  width: 12rem;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
}
.checkButton {
  font-size: 20px;
  background-color: lightseagreen;
  color: white;
  transition: background-color 0.3s; /* Плавный переход цвета */
}
.checkButton:hover {
  background-color: rgb(22, 139, 134); /* Темнее для Edit при наведении */
}
.checkButton:focus {
  box-shadow: 0 0 0 3px rgba(22, 139, 134, 0.5); /* Эффект при фокусе */
}
.translatedWord {
  color: lightseagreen;
  background-color: transparent;
  font-size: x-large;
}

.cardElement_container p {
  margin: 1rem;
  padding: 1rem;
}
