.cardElement_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  border: 2px solid darkslategrey;
  border-radius: 15px;
  width: 15rem;
  height: 18rem;

  background-color: rgb(253, 185, 208);
}
