.edit {
  background-color: #ff9933;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 2px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s; /* Плавный переход цвета */
}
.edit:hover {
  background-color: #cc7a29; /* Темнее для Edit при наведении */
}
.delete {
  background-color: #ff4136;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 2px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s; /* Плавный переход цвета */
}

.delete:hover {
  background-color: #c0392b; /* Темнее для Delete при наведении */
}
